h1 {
  color: #7d42b8;
  font-family: Verdana;
  font-size: 200%;
}

p.one  {
  color: #9871BF;
  font-family:Verdana;
  font-size: 135%;
  text-align: justify;
}

p.two  {
  color: #4A6fA5;
  font-family:Verdana;
  font-size: 135%;
  text-align: justify;
}

p.three  {
  color: #DBE9EE;
  font-family:Verdana;
  font-size: 135%;
  text-align: justify;
}

p.four  {
  color: #4F6D7A;
  font-family:Verdana;
  font-size: 135%;
  text-align: justify;
}
