h1 {
  color: #7d42b8;
  font-family: Verdana;
  font-size: 200%;
}

p.one  {
  color: #FFBF46;
  font-family: Verdana;
  font-size: 135%;
  text-align: center;
}

p.two  {
  color: #4A6fA5;
  font-family: Verdana;
  font-size: 135%;
  text-align: center;
}

p.three  {
  color: #DBE9EE;
  font-family: Verdana;
  font-size: 135%;
  text-align: center;
}

p.four  {
  color: #8AEA92;
  font-family: Verdana;
  font-size: 135%;
  text-align: center;
}
